@import './variables';

@mixin flex-spacebetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colored-bg{
    background-color: $light-bg;
}