//COLORS
$light-text: #4A1E29;
$light-bg: #F4F4F4;
$light-midtone: #fff;
$light-primary: #c64a54;
$light-secondary: #ffa573;
$light-accent: #eb5a6c;

$dark-bg: #171717;
$dark-midtone: #1b1b1b;
$dark-text: #f4f4f4;

//Typography
$fs-300: 1.25rem; //20px
$fs-400: 1.75rem; //28px
$fs-500: 2rem; //32px
$fs-600: 2.25rem; //36px

:root {
  --fs-700: 2.5rem; //40px
  --fs-800: 3rem; //48px

  @media(min-width: 641px) {
    --fs-700: 3rem; //48px
    --fs-800: 4rem; //64px
  }
}