//COLORS
$light-text: #4a1e29;
$light-bg: #F4F4F4;
$light-primary: #c64a54;
$light-secondary: #ffa573;
$light-accent: #eb5a6c;

//Typography
$fs-300: 1.25rem; //20px
$fs-400: 1.75rem; //28px
$fs-500: 2rem; //32px
$fs-600: 2.25rem; //36px

:root {
  --fs-700: 2.5rem; //40px
  --fs-800: 3rem; //48px

  --text-color: #4A1E29;
  --background-color: #F4F4F4;
  --midtone-color: #fff;
  --primary-color: #c64a54;

  @media(min-width: 641px) {
    --fs-700: 3rem; //48px
    --fs-800: 4rem; //64px
  }
}

[data-theme='dark'] {
  --text-color: #eeeeee;
  --background-color: #171717;
  --midtone-color: #1b1b1b;
  --primary-color: #f4f4f4;
}