@import '../../sass/variables';
@import '../../sass/mixins';

.navbar-bg{
    padding: 1.5rem 0;
}

.navbar{
    @include flex-spacebetween;

    div{
        display: flex;
    }
    
    .navbar-name{
        font-weight: bold;
    }

    a{
        font-size: 16px;
    }
}

.btn-switch{
    margin-right: 20px ;
}

// Hamburguer Menu
.menu{
    font-size: 30px;
    cursor: pointer;
}
.navbar-links{
    display: none !important;
}

.navbar-links-container{
    @include flex-center
}

// Is Open
.navbar-links.is-open{
    display: flex !important;
    flex-direction: column;
    position: fixed;
    top: 70px;
    margin-top: 8px;
    padding: 30px 150px 30px 30px;
    height: 100vh;
    width: 450px;
}

.navbar-links.is-open a{
    margin-bottom: 20px;
    font-weight: bold;
}

// Light Theme
#light .navbar{
    a{
        color: $light-text;
    }
}

#light .navbar-bg{
    background-color: #f4f1f4e8;
}

#light .menu{
    color: $light-text;
}

#light .navbar-links.is-open{
    background-color: #f4f1f4e8;
}

// Dark Theme
#dark .navbar{
    a{
        color: $dark-text;
    }
}
#dark .navbar-bg{
    background-color: #181718ee;
}

#dark .menu{
    color: $dark-text;
}

#dark .navbar-links.is-open{
    background-color: #181718ee;
}

@media (min-width: 1024px){
    .menu{
        display: none;
    }
    .navbar{
        a{
            font-size: 16px;
            font-weight: bold;
        }
    }

    .navbar-links{
        display: block !important;
    }

    .navbar-links a{
        margin-left: 10px;
    }

    .btn-switch{
        margin-right: 20px ;
    }
}

@media (min-width: 1440px){
    .navbar{
        a{
            font-size: 18px;
        }
    }
    .navbar-links{
        gap: 20px;
    }
    .btn-switch{
        margin-right: 20px ;
    }
    
}