@import '../../sass/variables';
@import '../../sass/mixins';

.navbar-bg{
    padding: 2rem 0;
}

.navbar{
    @include flex-spacebetween;

    .navbar-links{
        @include flex-spacebetween;
    }

    div{
        display: flex;
    }
    
    .navbar-name{
        font-weight: bold;
    }

    a{
        font-size: 14px;
    }
}

.btn-switch{
    margin-right: 20px ;
}

// Light Theme
#light .navbar{
    a{
        color: $light-text;
    }
}

#light .navbar-bg{
    background: $light-bg;
}

// Dark Theme
#dark .navbar{
    a{
        color: $dark-text;
    }
}
#dark .navbar-bg{
    background: $dark-bg;
}

@media (min-width: 1024px){
    .navbar{
        a{
            font-size: 16px;
        }
    }

    .navbar-links{
        gap: 10px;
    }
    .btn-switch{
        margin-right: 20px ;
    }
}

@media (min-width: 1440px){
    .navbar{
        a{
            font-size: 18px;
        }
    }
    .navbar-links{
        gap: 20px;
    }
    .btn-switch{
        margin-right: 20px ;
    }
    
}