@import '../../sass/_variables';
@import '../../sass/_mixins';

.aboutmeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media (min-width: 641px) {
        flex-direction: row;
        align-items: flex-start;
    }

    img {
        max-width: 125px;
        max-height: 125px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 100%;
        border: 4px solid $light-primary;

        @media (min-width: 641px) {
            max-width: 160px;
            max-height: 160px;
        }
    }

}



.textContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    @media (min-width: 641px) {
        align-items: flex-start;
    }
}

.name {
    font-size: $fs-500;
    font-weight: bold;
    color: var(--text-color);
}

.text {
    text-align: center;
    color: var(--text-color);
    font-size: 1.225rem;

    span {
        color: $light-primary;
    }

    @media (min-width: 641px) {
        text-align: start;
    }
}

.icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    @media (min-width: 641px) {
        justify-content: flex-start;
    }

    .icon {
        width: 25px;
        height: 25px;
        color: $light-primary;
    }
}