@import '../../sass/_variables';
@import '../../sass/_mixins';

.projects{
    padding: 0 24px;
    margin-top: 100px;

    h2{
        font-size: $fs-600;
        font-weight: 700;
        text-align: end;
        margin-bottom: 70px;
        color: $light-purple;
    }
}
