@import '../../sass/variables';
@import '../../sass/mixins';

.stickyNav{
    border-bottom: 1px solid #7D063325;
    background-color: $light-bg;
    position: sticky;
    top: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem !important;

    .logo {
        font-size: $fs-300;
        font-weight: bold;
        color: $light-primary;
    }

    .items {
        display: flex;
        align-items: center;
        gap: 20px;

        .icons {
            display: flex;
            align-items: center;
            gap: 20px;
            color: $light-primary;

            .icon{
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
            
            .menu{
                width: 40px;
                height: 40px;
            }
        }
    }
}

.links {
    display: flex;
    gap: 20px;
    font-size: $fs-300;

    a {
        color: $light-primary;
    }

}