@import '../../sass/_variables';

.cardContainer{
    display: grid;
    place-items: center;
    gap: 30px;

    @media (min-width: 641px){
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
    }
}