@import '../sass/_variables';

.logo-slide{
    margin: 0 !important;
    width: 74px;
    height: 74px;
    background: $light-beige;
    color: $light-text;
    font-size: 40px;
    padding: 16px;
    border-radius: 5px;

    white-space: nowrap;
}

.logos{
    display: flex;
    gap: 20px;
}