@import '../sass/variables';

.btn-link{
    font-size: 18px;
    padding-top: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

.btn-link:hover{
    transition: all .3s ease;
}

// Light Theme
#light .btn-link{
    border: 1px solid $light-purple;
    color: $light-purple;
}

#light .btn-link:hover{
    color: $light-bg;
    background: $light-purple;
}

// Dark Theme
#dark .btn-link{
    border: 1px solid $dark-purple;
    color: $dark-purple;
}

#dark .btn-link:hover{
    color: $dark-bg;
    background: $dark-purple;
}

@media (min-width: 1024px) {
    .btn-link{
        font-size: 22px;
        padding-top: 4px;
        width: 35px;
        height: 35px;
    }
}