@import '../sass/variables';

.btn-purple{
    background: $light-purple;
    color: $light-bg;
    border:1px solid $light-purple;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;

    font-size: 14px;
    font-weight:600;
}

.btn-purple:hover{
    color: $light-purple;
    background: $light-bg ;
    border: 1px solid $light-purple;
    transition: all .3s ease;
}

@media (min-width: 1024px) {
    .btn-purple{
        padding: 7px 18px;
        font-size: 20px;
    }
}