@import '../sass/variables';

.btn-white{
    background: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;

    font-size: 14px;
    font-weight: 600;
}

.btn-white:hover{
    transform: translateY(-0.25em);
    transition: .3s all ease-out;
}

// Light Theme
#light .btn-white{
    color: $light-purple;
    border: 1px solid $light-purple;
}

// Dark Theme
#dark .btn-white{
    color: $dark-purple;
    border: 1px solid $dark-purple;
}

@media (min-width: 1024px) {
    .btn-white{
        padding: 7px 18px;
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .btn-white{
        padding: 7px 18px;
        font-size: 18px;
    }
}