@import '../sass/variables';

.btn-white{
    background: none;
    color: $light-purple;
    border: 1px solid $light-purple;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;

    font-size: $fs-300;
    font-weight: 600;
}

.btn-white:hover{
    color: $light-bg;
    background: $light-purple;
    transition: all .3s ease;
}