@import '../sass/_variables';
@import '../sass/_mixins';

.project-description{
    text-align: center;

    .project-title{
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
        color: $light-purple;
    }

    .project-text{
        font-size: 16px;
        color: $light-text;
        margin-top: 20px;
    }

    .project-btn{
        @include flex-center;
        gap: 20px;
        margin-top: 20px;
    }
}