@import '../sass/_variables';

.project-image{
    img{
        max-width: 385px;
        width: 100%;
        max-height: 385px;
        object-fit: cover;
        border-radius: 7px;
        
    }
}