@import '../../sass/_variables';

.footer p{
    text-align: center;
    padding: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}

// Light Theme
#light .footer{
    background: $light-bg;
}

#light .footer p{
    color: $light-purple;
}

// Dark Theme
#dark .footer{
    background: $dark-bg;
}

#dark .footer p{
    color: $dark-purple;
}


@media (min-width: 1024px) {
    .footer p{
        font-size: 18px;
        text-align: end;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}