@import '../../sass/variables';

.portfolioCard {
  max-width: 500px;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: $light-midtone;
  border-radius: 15px;
  box-shadow: 0 0 23px 0 #00000005;

  img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $light-text;

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .icons {
    display: flex;
    gap: 10px;

    .icon {
      font-size: 1.3rem;
      color: $light-text;
    }
  }
}

.description {
  color: $light-text;
}

.languageList {
  display: flex;
  gap: 15px;

  .languageItem {
    background-color: #ffa57320;
    padding: 5px 10px;
    border-radius: 7px;
    font-weight: bold;
    color: $light-text;
  }

}