@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './sass/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
}

.container{
  max-width: 428px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.switch-container{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.switch{
  margin-top: -56px;
  padding-left: 200px;
}

.moon{
  color: $light-bg;
  margin-top: 5px;
  margin-left: 8px;
}

.sun{
  color: $dark-bg;
  margin-top: 5px;
  margin-left: 8px;
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
  .switch{
    padding-left: 650px;
  }
}

@media (min-width: 1440px){
  .container{
    max-width: 1440px;
  }
  .switch{
    padding-left: 1020px;
  }
}